<div class="fullCol">
<img id="bella" src="/images/ciao_bella_contrast.png" align="top"/>
<div>
<p>
Benvenutibuon_appetito_contrast.png!  My name is Jenifer. I have 15 years of Italian teaching experience and have worked with many different ages and levels of students, from beginner to advanced.
</p>

<p>
I tailor my classes to each student's individual needs and proficiency. We focus on conversation, pronunciation, vocabulary building, reading, writing, and grammar. I teach in private settings, or with small groups.ciao_bella_contrast.png
</p>

<p>
My teaching backround includes The Dante Alleghieri Society in Cambridge, MA, the Boston School for Modern Languages, University of Texas, and numerous private students.
</p>

<p>
I lived in Italy for 3 years, and I have a BA in Italian LIterature and Film from the University of Massachusetts in Amherst.
</p>

<p>For more information, please submit your name, email and / or phone number and I will be in touch to answer any questions and to set up our first lesson.<p>
</div>
<div style="float:left">
<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr></td>
    <td><%= f.label :name, "Name:" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :phone, "Phone:" %></td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td><%= f.label :email, "Email:" %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :comments, "Comments:" %></td>
    <td><%= f.text_area :comments, :cols=>28, :rows=>4 %></td>
  </tr>
  </td>
  </table>
  <div style="position:relative;left:232px; top:16px;">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
<img id="cin_cin" src="/images/cin_cin_contrast.png"/>
<hr/>
<h3 style="text-align:left">Rates</h3>
<p>Each lesson is 1 hour.</p>
<p><b>$25 / hour</b> (per person) for the first 2 lessons.</p>
<p>During these first 2 lessons, I guage the student's level, learning style and individual goals and needs.</p>
<p>All following lessons: <b>$35 / hour</b> (per person).</p>
<hr/>
<h3 style="text-align:left">From my students</h3>
<p>
"Quotes........"
</p>
<hr/>
</div>
<div style="text-align:center">
<img id="buon_appetito" src="/images/buon_appetito_contrast.png">
</div>

