<div class="fullCol">
<img id="bella" src="/images/ciao_bella_contrast.png" align="top"/>
<div>
<p>
Benvenuti!  My name is Jenifer. I have 15 years of Italian teaching experience and have worked with many different ages and levels of students, from beginner to advanced.
</p>

<p>
I tailor my classes to each student's individual needs and proficiency. We focus on conversation, pronunciation, vocabulary building, reading, writing, and grammar. I teach in private settings, or with small groups.
</p>

<p>
My teaching backround includes The Dante Alleghieri Society in Cambridge, MA, the Boston School for Modern Languages, University of Texas, and numerous private students.
</p>

<p>
I lived in Italy for 3 years, and I have a BA in Italian Literature and Film from the University of Massachusetts in Amherst.
</p>

<p>For more information, please submit your name, email and / or phone number below and I will be in touch to answer any questions and to set up our first lesson.<p>
</div>

<h3 style="">From my students</h3>
<p>
"Jenifer is an excellent teacher. I have been taking Italian from her for a year and a half and could not be happier with my progress. Jenifer brings a very positive and enthusiastic attitude to her teaching and creates a relaxed and fun atmosphere during her lessons. I can't recommend her enough."  -- D.,  Austin, TX
</p>
<p>
"I had about six weeks to learn some basic conversational Italian before leaving Texas for Milano, and the audio books weren't working for me. What a treat to discover Jenifer, who not only equipped me with a solid foundation in grammar, everyday language essentials and some contemporary idioms, she did it without me even feeling like I was in class! We had some interesting and hilarious discussions--even with my preliminary Italian skills--and I began to really look forward to the lessons. My month in Italy was much easier as as result. Jenifer is an excellent teacher, and I was glad to be able to recommend her for a study abroad class the following year."   -- P.,  University of Texas, Austin.
</p>

<hr/>
<h3 style="">Rates</h3>
<p>Each lesson is 1 hour.</p>
<p><b>$25 / hour</b> (per person) for the first 2 lessons.</p>
<p>During these first 2 lessons, I guage the student's level, learning style and individual goals and needs.</p>
<p>All following lessons: <b>$35 / hour</b> (per person).</p>
<hr/>
<hr/>
<div style="float:left;margin-left:5px;">
Please enter your information below, so that I may contact you.<br/><br/>
<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr></td>
    <td><%= f.label :name, "Name:" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :phone, "Phone:" %></td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td><%= f.label :email, "Email:" %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :comments, "Comments:" %></td>
    <td><%= f.text_area :comments, :cols=>28, :rows=>3 %></td>
  </tr>
  </td>
  </table>
  <div style="position:relative;left:207px; top:16px;">
    <%= f.submit "Submit", :class=>"button" %>
  </div>
<% end %>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:112px" id="cin_cin" src="/images/cin_cin_contrast.png"/><hr/>
</div>
<hr/>
<div style="text-align:center">
<img id="buon_appetito" src="/images/buon_appetito_contrast.png">
</div>

