<p>
Buongiorno, Jenifer!
</p>
<p>
A prospective student has filled out the form on your website!
</p>
<p>
Name: <%= link_to( @student.name, "http://italianwithjj.com#{url_for(@student)}" ) %><br/>
Email: <%= @student.email %><br/>
Phone: <%= @student.phone %><br/>
Comments: <%= @student.comments.gsub("\n", "<br/>") %>
</p>
<p>
Date: <%= Date.today %>
</p>

