<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="italian lessons austin, italian tutor austin, italian tutor ut, italian
 tutor ACC, italian tutor Texas State, italian tutor Southwest Texas,
 italian language tutor central austin, italian studies ut austin, italian tutor austin high school, italian lessons for kids, italian lessons for travel, jj, jenifer italian, 
italian with jennifer, italian wit jj, lessons with jj, tutor with jackson, italian jackson" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <title>Italian With JJ! - Italian tutoring in Austin, Texas</title>
      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag "jquery-1.2.6" %>
      <script>
        JQ(document).ready( function() {
          showFlashes();
          setTimeout( "hideFlashes()", 5000 );
        });
        
        function showFlashes() {
          JQ("#flash_notice").fadeIn(200);
          JQ("#flash_error").fadeIn(200);
          JQ("#flash_notice").click( function() {JQ("#flash_notice").hide();} );
          JQ("#flash_error").click( function() {JQ("#flash_error").hide();} );
        }
        
        function hideFlashes() {
          JQ("#flash_notice").fadeOut(500);
          JQ("#flash_error").fadeOut(500);
        }
      </script>

  </head>
  <body>
    <div id="mainContainer">
      <div id="header">
        <% if flash[:notice] %>
          <div id="flash_notice"><%= flash[:notice] %></div>
        <% end -%>
        <% if flash[:error] %>
          <div id="flash_error"><%= flash[:error] %></div>
        <% end -%>
        
        
        <h1>&nbsp;</h1>
        <br/>
        <br/>
        <div style="position:relative; top:-76px; left: -0px;"><img id="logo" src="/images/parliamo_contrast.png" alt="Parliamo Italiano! or Let's Speak Italian!" /></div>
      </div> 
      <div class="outer">
        <div class="inner">
          <div class="float-wrap">
            <div id="content"> 
              <%= yield  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div id="footer-content">
    </div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4626652-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
